/* This file is for your main application css. */

.elm-overlay { z-index: 999; }

.render-statcard-block {
  display: grid;
}

.render-statcard-double {
  width: 100%;
}

.render-stat-right {
  float: right;
}

.render-stat-left {
  float: left;
}

.mdl-menu__container.is-visible {
  position: initial;
}

.mdl-menu__container.is-visible .mdl-menu__outline {
  position: initial;
}

.quick-damage-target .mdl-menu__container {
  position: absolute;
}

.mdl-list__item {
  padding: 0px;
}

.quick-damage {
  display: flex;
}

.quick-damage-target {
  display: flex;
}

p {
  margin-top: 20px;
  margin-right: 10px;
}
